body {
	background: url('../images/marvelback.jpg'); 
	font-family:'Anton', sans-serif;
}

.jumbotron{
	background: url('../images/marvel.jpg');
	color: #d7bd09;
	border: 5px solid #d7bd09;
	font-family:'Anton', sans-serif;

}
.jumbotron h1{
	font-size: 48px;
}

.jumbotron p{
	font-size: 18px;
}

.container {
	width: 65%;
	height: 538px;
	background-color: #811510; /*red*/
	font-family: 'Catamaran', sans-serif;
	color: #d7bd09; /*yellow*/
}

#countdown h1{
	font-size: 30px;
}

#question h3{
	font-size: 36px;
}

#answers h4, li{
	font-size: 30px;
	line-height: 42px;
}

#footer {
	height: 30px;
	padding: 10px;
	border-top: 2px solid white;
	text-align: center;
	color: #d7bd09;
	font-family:'Anton', sans-serif;
	font-size: 13px;

}
